p{
    font-family: 'Arial', sans-serif;
    font-style: italic, oblique;
    font-variant: caps;
    font-weight: bold;
    font-size: 16px;
    text-decoration: underline;
    text-align: center;
    text-indent: 20px;
    text-transform: capitalize;
}
p:hover {
    color: red;
}
a {
    text-decoration: none;
}
